.home-contenedor {
    padding: 0 .8rem;
    margin-top: .8rem;
    display: grid;
    row-gap: 1.1rem;
    max-height: 91vh;
}

.foreground-contenedor {
    background-color: #1A1A11;
    padding: 1rem 1rem;
    border-radius: 1ch;
}

.home-contenedor__main-content__porcentil {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    margin-bottom: .5rem;
}

.home-contenedor__main-content__porcentil__title {
    font-weight: 500;
}

.home-contenedor__main-content__porcentil__value {
    background: linear-gradient(to left, #F9E687, #B59233);
    padding: .1rem .5rem;
    border-radius: 50ch;
    font-weight: 700;
    color: #5e500b;
    font-size: 1.2rem;
}

.home-contenedor__stats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .7rem;
}

.home-contenedor__stats__item:nth-child(1) {
    grid-column: 1/3;
    background:linear-gradient(to left, #F9E687, #B59233);
    color: #000;
}

.home-contenedor__stats__item:nth-child(2) {
    background:linear-gradient(to left, #e287f9, #b53395);
    color: #000;
}

.home-contenedor__stats__item:nth-child(3) {
    background:linear-gradient(to left, #87cbf9, #335cb5);
    color: #000;
}

.home-contenedor__activity__items__item {
    padding: .3rem 0;
}

.home-contenedor__activity__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home-contenedor__activity__header__title {
    margin-bottom: .7rem;
}

.home-contenedor__activity__items__item__leyend {
    font-weight: 600;
    font-size: 1.05rem;
    margin-bottom: .2rem;
}

.home-contenedor__activity__items__item__info {
    font-weight: 600;
    color: #afafaf;
    font-size: .9rem;
}

.home-contenedor__activity__header__action {
    font-weight: 600;
    color: #E0BE38;
    text-decoration: none;
}

.home-contenedor__activity__items__item__reason {
    font-weight: 400;
    color: #C94545;
    font-size: .9rem;
}